<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Rediffmail Suite" parallel="tests">
  <test thread-count="5" name="Create Rediffmail Account Test Case">
    <classes>
      <class name="com.ibm.testcases.CreateAccountRediffmailTest"/>
    </classes>
  </test>
  <test thread-count="5" name="Send Mail Test Case">
    <classes>
      <class name="com.ibm.testcases.SendMailRediffmailTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Rediffmail Suite -->
